# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Jupyter
4. Python

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy

|Data Science Tools|
--------------------
|Jupyter           |
|Apache Zeppelin   |
|R Studio          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [21]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Santiago Freile